<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>

</head>
<body>
    <div id="app-8">
        用户名:<input type="text" v-model="username" placeholder="请输入用户名" >
        密码:<input type="password" v-model="password" placeholder="请输入密码">
        <button v-on:click="login">登录</button>
    </div>
    <div id="app">
        {{message}}
    </div>
    <div id="app-2">
        <span v-bind:title="message">悬停</span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="tood in toods">
                {{tood.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">反转消息</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input  v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
</body>

<script src="/js/vue.js"></script>
<script>
    var app8 = new Vue({
        el:"#app-8",
        data:{
            username:'',
            password:''
        },
        methods: {
            login:function(){
                alert("login")
            }
        }
    })
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    })
    var app7 = new Vue({
        el:"#app-7",
        data:{
            groceryList:[
                {id:0,text:'蔬菜'},
                {id:1,text:'奶酪'},
                {id:2,text:'随便'}
            ]
        }
    })
    var app6 = new Vue({
        el:"#app-6" ,
        data: {
            message:"huang"
        }
    })
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: '123456'
        },
        methods:{
            reverseMessage:function(){
                this.message = this.message.split('').reverse().join('')
            }
        }
    })
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello,Huang!'
        }
    })
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'Hello,悬停'
        }
    })
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })
    var app4 = new Vue({
        el: '#app-4',
        data: {
            toods:[
                {text: 'no.1'},
                {text: 'no.2'},
                {text: 'no.3'}
            ]
        }
    })
</script>

</html>