<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="/js/jquery-3.4.1.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!--MD5加密-->
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>

    <script type="application/javascript">

        function reg(){
            $.ajax({
                url:"/login/reg",
                type:"post",
                data:JSON.stringify({
                    username:$("#username").val(),
                    userpwd:$("#userpwd").val()
                }),
                dataType:"json",
                contentType : "application/json",
                success:function(data){
                    alert("注册"+data.ifSuccess);
                },
                error:function(e){
                    console.log(e);
                    alert("error:"+"注册失败");
                }
            })
        }

        function md5Login(){
            var salt;
            $.ajax({
                url:"/login/createRandomCode",
                type:"post",
                dataType:"json",
                contentType : "application/json",
                success:function(data){
                    salt = data.loginRandomCode;
                    var pwd = $("#userpwd").val();
                    var pwdMd5 = md5(pwd);
                    var strMd5 = md5(pwdMd5+salt);
                    $.ajax({
                        url:"/login/loginInto2",
                        type:"post",
                        data:JSON.stringify({
                            username:$("#username").val(),
                            userpwd:strMd5
                        }),
                        dataType:"html",
                        contentType : "application/json",
                        success:function(data){
                            $("body").html(data);
                            // alert("登录"+data.ifLoginSuccess);
                            // window.location.replace("/login/loginInto/"+data.ifLoginSuccess);
                        },
                        error:function(e){
                            console.log(e);
                            alert("error:"+"登录error");
                        }
                    })
                },
                error:function(e){
                    console.log(e);
                    alert("error:"+"获取随机码error");
                }
            })
        }

    </script>
</head>
<body>
    <form id="form1" action="../../login/loginInto" method="post">
        账号：<input type="text" id="username" name = "username"> <br>
        密码：<input type="password" id = "userpwd" name = "userpwd"> <br>
        <button id="login" type="submit" >表单登录</button>
    </form>
    <button id="md5Login" type="button" onclick="md5Login()">加密登录</button>
    <a href="/toPage/huang">huang跳转链接</a><br>
    <button type="button" id="reg" onclick="reg()">reg</button>
    <br>
    <br>
    <img src="" alt="" id="IsImgEmployeePicture" style="border:1px solid #999;display: block;width: 300px;height: 300px;" onclick="chooseImageFile('EmployeePicture')" />
    <input type="file" name="fileEmployeeImage" id="EmployeePicture" hidden accept="image/*" onchange="showImgToView('EmployeePicture')" />

    <input type="file" name="file" id="file" multiple="multiple" />
    <button name="uploadFile" id="uploadFile" onclick="uploadFile()" >上传</button>

<!--    <a href="C:\Users\Administrator\Pictures\Saved Pictures\1.PNG" download="1.PNG">download</a>-->
    <button onclick="download()">download</button>
</body>

<script>
    //1、单击调用chooseImageFile方法
    function chooseImageFile(inputFileID) {
        $("#" + inputFileID).click();   //模拟点击EmployeePicture（input）,出发showImgToView()方法
    }

    //2、创建FileReader对象
    var fileReader = new FileReader();
    //正在判断是否符合图片类型
    regexImageFile = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

    //3、利用改变事件将图片显示出来
    function showImgToView(inputFileId) {
        //选择图片文件
        var imgFile = $("#" + inputFileId).get(0).files[0];
        //判断上传文件是否为图片格式
        if (!regexImageFile.test(imgFile.type)) {
            return;
        } else {
            //将文件读取为DataURL
            fileReader.readAsDataURL(imgFile);
        }
    }

    //4、读取文件
    fileReader.onload = function (evt) {
        //将该URL绑定到img标签的src属性上，就可以实现图片的上传预览效果
        $("#IsImgEmployeePicture").attr("src", evt.target.result);
    }
</script>

<script>
    function uploadFile() {
        // var files = new Array();
        // files[0] = $("#file").get(0).files[0];
        // files[1] = $("#file").get(0).files[0];
        var formData = new FormData();
        formData.append("file",$("#file").get(0).files[0]);
        // formData.append("file",files);
        formData.append("businessId","test");
        $.ajax({
            url:"/file/addFiles",
            type:"post",
            data:formData,
            dataType:"json",
            contentType : false,
            processData:false,
            success:function(data){
                alert("成功");
            },
            error:function(){
                alert("失败");
            }
        })
    }
    function download() {
        window.location.href='/file/download?path=C:/Users/Administrator/Desktop/'+'&'+'fileName=文本的json格式.txt'
    }
</script>
</html>